<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>MED_v2</title>
    <link href="/css/changePassword.css" rel="stylesheet" />

    <script src="/js/pages/changePassword.js"></script>
</head>
<body>
    <div class="b-change_password">

        <h1>Password Change</h1>
        <form>
            <label for="oldPassword">Old Password</label>
            <input type="password" name="oldPassword" />
            <label for="password">New Password</label>
            <input type="password" name="password" />
            <label for="repeatPassword">Repeat New Password</label>
            <input type="password" name="repeatPassword" />

            <div class="b-login__button-wrapper">
                <button class="b-change_password__btn">Change Password</button>
            </div>
        </form>
    </div>
</body>
</html>
