<div class="b_view-wrapper">
    <div class="b_downloads">
        <h1 class="b_downloads__title">Downloads</h1>
        
        <button class="b_downloads--cancel_all">Cancel All</button>
        <div class="b_downloads--navbar" data-win-control="WinJS.UI.Repeater" data-win-options="{data: Downloads.links}">
            <a class="b_downloads--navbar__link" data-win-bind="innerHTML: title; href: page"></a>
        </div>
        <div class="b_downloads--list">
           
        </div>
    </div>
</div>
