<div class="b_view-wrapper">
    <div class="b_settings">
        <h1 class="b_settings__title">settings</h1>
        <div class="b_settings--wrapper">
            <div class="b_settings--wrapper__title">Automatic sync</div>
            <div class="b_settings--wrapper__toggle" id="wifiToggle" data-win-control="WinJS.UI.ToggleSwitch" data-win-options="{checked: true}"></div>
        </div>
        <h1 class="b_settings__title">version</h1>
        <div class="b_settings--wrapper">
            <div class="b_settings--wrapper__title">1.0.0.32</div>
        </div>      
        <h1 class="b_settings__title">support</h1>
            <div class="b_settings--wrapper">
                <a href="mailto:medspprt@microsoft.com" class="b_settings__a">medspprt@microsoft.com</a>
            </div>
            <button class="b-settings--btn">Change Password</button>
        </div>
</div>