<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" href="/css/pages/fragments/libraries.css" />
</head>
<body>
    <div id="downloadTemplate" data-win-control="WinJS.Binding.Template" style="display: none;">
        <div class="b-media__item">
            <input class="b_media__id" data-win-bind="name: id" style="display: none;">
            <img data-win-bind="src: id MED.Pages.ViewHelpers.Downloads.preview" />
            <h2 data-win-bind="textContent: title">Some long long title which willl</h2>
            <h3 data-win-bind="style.display: progress MED.Pages.ViewHelpers.Downloads.isIncompleteInline" class="b-media__item-progress-number">
                <span data-win-bind="textContent: progress MED.Pages.ViewHelpers.Downloads.percents"></span>%
            </h3>
            <progress data-win-bind="style.display: progress MED.Pages.ViewHelpers.Downloads.isIncompleteBlock; value: progress" max="1" class="b-download-progress"></progress>
            <h3 style="color: green; font-size: 20px;" data-win-bind="style.display: progress  MED.Pages.ViewHelpers.Downloads.isComplete">&#x2713; completed</h3>
            
        </div>
    </div>
    <div class="b-library">
        <div class="b-library--data">
            <div class="b-library__list" data-win-control="WinJS.UI.ListView" data-win-options="{
                 itemTemplate: select('#downloadTemplate'),
                 selectionMode: 'none',
                 swipeBehavior: 'none',
                 layout: { type: WinJS.UI.ListLayout }
            }">
            </div>
        </div>
    </div>

</body>
</html>