<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" href="/css/pages/fragments/libraries.css" />
</head>
<body>



    <div class="b-library">
        <div class="b-library--empty" data-win-bind="style.display: items MED.Pages.ViewHelpers.Library.isLibraryEmpty">
            <h1>No Libraries to Display</h1>
            <div class="wrapper">
                <span>Automatic synchronization can be enabled in application settings</span>
            </div>
        </div>
        <div class="b-library--data" data-win-bind="style.display: items MED.Pages.ViewHelpers.Library.isLibraryNotEmpty">
            <marquee behavior="scroll" direction="left" data-win-bind="innerHTML: motd"></marquee>
            <div 
                class="b-library__list"
                data-win-control="WinJS.UI.ListView"
                data-win-options="{
                    itemTemplate: select('#libraryListItemTemplate'),
                    selectionMode: 'none',
                    swipeBehavior: 'none',
                    layout: { type: WinJS.UI.ListLayout }
                }">
            </div>
        </div>
    </div>
</body>
</html>