.b-change_password {
    padding: 10px;
    overflow: auto;
}
.b-change_password form {
	color: white;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
	font-size: 24px;
}
.b-change_password input {
	display: block;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
    font-size: 24px;
	height: 50px;
	color: #1a6265;
}

.b-change_password button {
	box-sizing: border-box;
    font-size: 28pt;
	width: 100%;
    height: 65px;
	background-color: #7bb846;
}
