.b_downloads {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
    background-color: #e0e2e2;
    color: white;
}
.b_downloads--navbar {
    margin-top: 15px;
    margin-bottom: 20px;
    display: inline-block;
    border-bottom: 2px solid white;
    width: 100%;
}
.b_downloads--navbar__link {
    color: white;
    margin-right: 20px;
    font-size: 18pt;
}
.b_downloads--navbar__link-active {
    border-bottom: 5px solid  #593c56;   
    color: #593c56;
}
.b_download-tpl--item {
	width: 40vw;
	min-height: 120px;
	background-color: white;
	color: black;
}
.b_download-tpl {
	
}
.b_download-tpl--item--box {
	float: left;
}
.b_download-tpl--item--box__image {
	height: 120px;
	display: block;
	max-width: 200px;
	margin-right: 30px;
}
.downloads-list {
}
.b_download-tpl--item__title {
	font-size: 18pt;
	padding-top: 20px;
    height: 30px;
}
.b_download-tpl--item__title span {
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}
.b_download-tpl--item__percent-bar {
	background-color: #6ab01c;
	color: white;
	margin-top: 15px;
	display: inline-block;
	font-size: 14pt;
	padding-right: 8px;
	text-align: right;
	border-radius: 15px
}
.b_download-tpl--item__complete-bar {
	display: inline;
}
.b_download-tpl--item__complete-bar:after {
	font-family: 'segoe ui symbol';
	content: 'Complete';
	position: relative;
	left: -38px;
	background-color: white;
	color: #6ab01c;
	font-size: 16pt

}
#downloads-list {
	height:  60vh;
}