.b_home--library {
    width: 49%;
    height: 100%;
	float: left;
}
.b_home--library h1 {
    margin-left: 2.5%;
    margin-top: 20px;
    margin-bottom: 5px;
}
.b_home #downloads-list, .b_home #libraries-list {
    height: 75vh;
}
.b_home #downloads-list .win-viewport, .b_home #libraries-list .win-viewport {
    overflow: hidden;
}
.b_home--dotted-line {
	height: 100%;
	width: 0;
	display: inline-block;
	border-left: 4px dotted  #593c56;
}
.b_home--download {
    width: 49%;
    height: 100%;
	float: right;
}
.b_home--download h1 {
    margin-left: 2.5%;
    margin-top: 20px;
    margin-bottom: 5px;
}
.b_home {
    width: 100%;
    display: block;
    height: 100%;
    background-color: #e0e2e2;
}