.b_library-tpl--item {
	background-color: white;
	color: black;
	height: 80px;
	width: 19vw;
}
.b_media-tpl--item {
    background-color: white;
	color: black;
	width: 19vw;
    height: 100px;
}
#libraries-list {
	height: 60vh;
}
.b_media_tpl_img {
    float: left;
    height: 100px;
    width: 170px;
}
.b_media_tpl_img img {
    max-width: 160px;
    height: 100px;
}

.b_library-tpl--item__path, .b_media-tpl--item__title {
	font-size: 18pt;
	margin-left: 10px;
	color: #1a6465;
}
.b_library-tpl--item__path span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 90%;
    display: inline-block;
}
.b_media-tpl--item__title span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(100% - 180px);
    display: inline-block;
}
.b_downloads--navbar.hidden {
    display: none;
}
.b_library-tpl--item__star {
	float: right;
	font-size: 20pt;
	position: relative;
	left: -10px;
	top: -20px;
	color:  #593c56;
    font-family: 'segoe ui symbol'
}
.favorite:after {
    content: '\e0b4';
}
.unfavorite:after {
    content: '\e224';
}

.b_library-tpl--item__folder {
	border-left: 3px solid  #593c56;
	padding-left: 10px;
	color:  #593c56;
	margin-top: 10px;
	display: inline-block
}
.b_libraries--path--container {
    display: inline;

}
.b_libraries--path__link {
    color: #1a6465;
    font-size: 14pt;
}
.b_libraries--path__arrow {
    color:  #593c56;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14pt;
}
.b_libraries--path :last-child > .b_libraries--path__arrow {
    display: none;
}
.b_libraries--path :first-child > .b_libraries--path__link {
    color: white;
    font-size: 16pt;
}
.b_libraries--path :first-child > .b_libraries--path__link::before {
    font-family: 'segoe ui symbol';
    content: '\e188';
    position: relative;
    top: 2px;
    margin-right: 5px;
}